/* Variabili */

:root {
    --bg-main : #B91450;
    --bg-bottons : #CCCCCC;
    --bg-name: #808080;
}

body {
    background-color: var(--bg-main) !important; 
}

.name_output {
    background-color: var(--bg-name);
}

